<!DOCTYPE html>
<html>
    <head>
        <title style="font-family: times, serif; font-size:30pt; font-style:italic, sans-serif">Login</title>
    </head>
    <body>
        <h1 style="font-family: times, serif; font-size:20pt; font-family:arial; text-align: center">Login Admin</h1>
        <form method="POST">
             
            <input style="font-family: times, serif; font-size:12pt; font-family:arial;" type="email" name="email" id="email" placeholder="Email"><br>
            </br>
            <input style="font-family: times, serif; font-size:12pt; font-family:arial;" type="password" name="password" id="password" placeholder="Contraseña"><br>
            </br>
            <input style="font-family: times, serif; font-size:12pt; font-family:arial;" type="submit" value="Login"><br>
             </br>
            <a style="font-family: times, serif; font-size:12pt; font-family:arial" href="/recuperar_password.html">Recuperar Contraseña</a>
        </form>
    </body>
</html>